
.board-size{
    border-width: 2px;
    border-style: solid;
    border-color:  rgb(65, 3, 83);
    height: 100px;
    width: 100px;
    
    text-align: center;
    padding-top: 10px;
    background-color: rgba(247, 36, 211, 0.9);
    color: transparent;
}
.full-cont{
    background-color: black;
    color: rgb(238, 14, 137);
}
.player1-style{
    border-radius: 50%;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color:  rgb(45, 4, 158);
}
.player2-style{
    border-radius: 50%;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color:  rgb(248, 26, 6);
}
.style{
    border-radius: 50%;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color:  rgb(45, 4, 158);
}
.text-align{
    text-align: end;
}
.win{
    color: rgba(247, 36, 211, 0.9);
}